<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.product.mapper.ExpendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig.product.entity.Expend">
        <id column="e_id" property="eId" />
        <result column="e_purpose" property="ePurpose" />
        <result column="e_money" property="eMoney" />
        <result column="e_time" property="eTime" />
        <result column="s_id" property="sId" />
        <result column="u_number" property="uNumber" />
        <result column="p_id" property="pId" />
    </resultMap>

    <select id="getExpendByList" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
            expend.e_id,
            expend.e_purpose,
            expend.e_money,
            expend.e_time,
            staff.s_name
        FROM
            expend ,
            staff
        WHERE
            expend.s_id = staff.s_id
        AND
            expend.p_id = #{pid}
        <!-- 用途查询 -->
        <if test="ePurpose != null and ePurpose != ''">
            AND expend.e_purpose like #{ePurpose}
        </if>
    </select>


    <select id="getExpendPayCount" resultType="java.lang.String" >
        SELECT
--             concat(sum(e_money),"eMoney")
                sum(e_money) eMoney
        FROM
            expend
        WHERE
            e_time BETWEEN  #{toLocaleString} AND #{toLocaleString1}
            AND p_id = #{pid}

    </select>

</mapper>
