<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.product.mapper.MaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig.product.entity.Material">
        <id column="m_id" property="mId" />
        <result column="u_number" property="uNumber" />
        <result column="m_number" property="mNumber" />
        <result column="m_name" property="mName" />
        <result column="m_count" property="mCount" />
        <result column="m_price" property="mPrice" />
        <result column="m_total" property="mTotal" />
        <result column="m_add_time" property="mAddTime" />
        <result column="m_usage" property="mUsage" />
        <result column="m_surplus" property="mSurplus" />
        <result column="m_remarks" property="mRemarks" />
        <result column="p_id" property="pId" />
    </resultMap>

</mapper>
