<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig.product.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig.product.entity.Role">
        <id column="r_id" property="rId" />
        <result column="r_name" property="rName" />
        <result column="r_time" property="rTime" />
        <result column="u_number" property="uNumber" />
        <result column="m_id" property="mId" />
        <result column="p_id" property="pId" />
    </resultMap>

</mapper>
